<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="%bootstrap.min.css%" rel="stylesheet">
    <link href="%interact.css%" rel="stylesheet">
  <title>Interact with Grammar</title>
</head>
<body>
  <div class="input-content" id="app">
    <div class="button-row">
      <button @click="getTokens" type="button" class="btn btn-primary">Get Tokens</button>
      <button @click="getAstGui" type="button" style="margin-left:10px;" class="btn btn-success">Get AST Gui</button>
    </div>
    <div class="content">
      <div class="left form-floating">
        <textarea v-model="textParsed" class="form-control interact-input" placeholder="Input parsed text" id="floatingTextarea2"></textarea>
        <label for="floatingTextarea2">Interact Text</label>
      </div>
      <div class="right">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a :class="{'nav-link': true, 'active': tabType !== 'astTree'}" href="#">Tokens Table</a>
          </li>
          </li>
        </ul>

        <!--token table-->
        <div class="tokens-table">
          <table v-if="tokens && tokens.length > 0" class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">type</th>
                <th scope="col">text</th>
                <th scope="col">start</th>
                <th scope="col">end</th>
                <th scope="col">row</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in tokens" :key="index">
                <td>{{ item.type }}</td>
                <td>{{ item.text }}</td>
                <td>{{ item.start }}</td>
                <td>{{ item.end }}</td>
                <td>{{ item.row }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="%bootstrap.bundle.min.js%"></script>
<script src="%petite-vue.js%"></script>
<script src="%main.js%"></script>
</html>